# C++ objects and libs
*.slo
*.lo
*.o
*.obj
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.exe
*.ilk
*.pdb
*.idb
*.exp
*.lib

# Qt build artifacts
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc

# Visual Studio
.vs/
*.tlog/
*.lastbuildstate
*.recipe
*.idb
*.pdb
*.ilk
*.obj
BuildLog.htm
*.suo
*.opensdf
*.sdf
ipch/
*.log

# Project specific
config.ini
UBackup.log
RC*
RD*
x64/
UBackup/x64/

# macOS
.DS_Store
*.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# IDE
.idea/
.vscode/